.body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Helvetica, arial, sans-serif;
}

#prop {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

#prop:hover {
    background: #848484;
}

#grid {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#topbar {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 3px black;
    background: #424242;
}

h2 {
    position: fixed;
}

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1px black;
    background-image: url(https://i.ibb.co/S3SpM6s/floral-Pattern.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.head1:hover {
    text-shadow: 0 1px 2px black;
}

.head1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 0 1rem;
    text-shadow: 0 1px 1px black;
    color: white;
    font-weight: bold;
}

#p {
    font-size: 20px;
}

.see {
    text-decoration: none;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
}

.see:hover {
    text-decoration: none;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
}

.modalTemp {
    text-decoration: none;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
}

section.blue {
    background-color: #81bef7;
}

.red {
    background-color: #f7819f;
}

.yellow {
    background-color: #d7df01;
    background-image: url(https://i.ibb.co/TKB2F4x/floral-Pattern.png);
    background-position: right bottom;
}

.green {
    background-color: #68c368;
    background-image: url(https://i.ibb.co/TKB2F4x/floral-Pattern.png);
    background-position: right bottom;
}

h1.black {
    color: #000;
}

#emp {
    height: 10vh;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 985px) {
    #topbar {
        opacity: 0;
    }
    #grid {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .fullpage {
        width: 100vw;
    }
    #emp {
        opacity: 0;
        height: 0;
    }
}

@media screen and (max-width: 400px) {
    .fullpage {
        background-image: none;
    }
}